<link rel = 'stylesheet' href = 'css/style.css'>


<h3 class = 'center'>Please fill out form below:</h3>

<form method = 'post' action = 'add_book' class = 'center'>

    <table class = 'table'>
        <tr>
            <td><label class = 'labelSize'>First Name:</label></td>
            <td><input type = 'text' autofocus name = 'fname' tabindex = '1'></td>
        </tr>
        <tr>
            <td><label class = 'labelSize'>Last Name:</label></td>
            <td><input type = 'text' autofocus name = 'lname' tabindex = '2'></td>
        </tr>
        <tr>
            <td><label class = 'labelSize'>Street:</label></td>
            <td><input type = 'text' autofocus name = 'street' tabindex = '3'></td>
        </tr>
        <tr>
            <td><label class = 'labelSize'>City:</label></td>
            <td><input type = 'text' autofocus name = 'city' tabindex = '4'></td>
        </tr>
        <tr>
            <td><label class = 'labelSize'>State:</label></td>
            <td><input type = 'text' autofocus name = 'state' tabindex = '5'></td>
        </tr>
        <tr>
            <td><label class = 'labelSize'>Zipcode:</label></td>
            <td><input type = 'text' autofocus name = 'zipcode' tabindex = '6'></td>
        </tr>
    </table>

    <input type = 'submit' tabindex = '7'>

</form>

<script src = 'js/auto_box.js'></script>